<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ "/methodology/" | relative_url }}">Methodology</a>
        <a class="page-link" href="{{ "/implementation/" | relative_url }}">Implementation</a>
        <a class="page-link" href="{{ "/results/" | relative_url }}">Results</a>
        <a class="page-link" href="{{ "/documentation/" | relative_url }}">Documentation</a>
        <a class="page-link" href="{{ "/about/" | relative_url }}">About</a>
      </div>
    </nav>
  </div>
</header>